@using la_mia_pizzeria_static.Models
@model PizzaFormModel

@{
    ViewData["Title"] = "Modifica la tua pizza";
    Layout = "_PizzeriaLayout";
}

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Modifica la <span class="text-danger">tua pizza</span> personalizzata</h2>
            </div>
            <div class="col-7">
                <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Pizza.Id" enctype="multipart/form-data" method="post" class="my-4 bg-success rounded-3 p-4 text-white">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input asp-for="Pizza.Name" class="form-control" id="name" />
                        <span asp-validation-for="Pizza.Name" class="text-danger fw-bold"></span>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descrizione della pizza</label>
                        <textarea asp-for="Pizza.Description" class="form-control" id="description" rows="4"></textarea>
                        <span asp-validation-for="Pizza.Description" class="text-danger fw-bold"></span>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col">
                            <label asp-for="ImageFormFile" class="form-label">Immagine</label>

                            <input type="file" asp-for="ImageFormFile" name="ImageFormFile" class="form-control" id="ImageFormFile" />
                            <span asp-validation-for="Pizza.ImgFile" class="text-danger fw-bold"></span>
                        </div>
                        <div class="col text-end">
                            <img src="@Model.Pizza.ImgSrc" class="w-50 mb-1 rounded-3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="price" class="form-label">Prezzo</label>
                            <input type="text" asp-for="Pizza.Price" class="form-control" id="price" />
                            <span asp-validation-for="Pizza.Price" class="text-danger fw-bold"></span>
                        </div>
                        <div class="col">
                            <label for="description" class="form-label">Categoria da assegnare:</label>
                            <select asp-for="Pizza.CategoryId" rows="10" class="form-select">
                                <option value=""></option>
                                @foreach (Category category in Model.Categories)
                                {
                                    @if (Model.Pizza.CategoryId == category.Id)
                                    {
                                        <option value="@category.Id" selected>@category.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="mb-5">
                        <label for="ingredient" class="form-label">Seleziona degli ingredienti:</label>
                        <div class="btn-group d-flex flex-wrap" role="group" aria-label="Basic checkbox toggle button group">
                            @for (int i = 0; i < Model.Ingredients.Count; i++)
                            {
                                string ingredientId = "ingredient" + i;
                                <input type="checkbox" class="btn-check" id="@ingredientId" name="SelectedIngredients" value="@Model.Ingredients[i].Value"
                                       @(Model.SelectedIngredients.Contains(Model.Ingredients[i].Value) ? "checked" : "") autocomplete="off" />
                                <label class="btn btn-outline-light m-1" for="@ingredientId">@Model.Ingredients[i].Text</label>
                            }
                        </div>
                    </div>
                    <div class="text-center">
                        <a asp-action="Index" class="btn btn-secondary px-5">Annulla</a>
                        <input type="submit" class="btn btn-danger px-5" value="Modifica la tua Pizza">
                    </div>
                </form>
            </div>
            <div class="col-12 my-5 text-center">
                <a href="@Url.Action("Index", "Pizza")" class="btn btn-primary">Torna all'elenco di tutte le pizze</a>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ricomincia dalla Home</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 mt-5 text-danger fw-bold">Non sei autorizzato ad accedere a questo contenuto.</h1>
            </div>
            <div class="col-12 my-5 text-center">
                <a href="@Url.Action("Index", "Pizza")" class="btn btn-primary">Torna all'elenco di tutte le pizze</a>
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ricomincia dalla Home</a>
            </div>
        </div>
    </div>
}


